<div class="center jumbotron">
  <h1>Help</h1>
  <h2>Orca is a web application that will help you meet a partner to work with for CS2500 and CS2510 at Northeastern University.</h2>
  <h2>You can sign in and use Orca with your @husky.neu.edu email address.</h2>
  <h2>If you have any questions, comments, or feature suggestions, please contact me at <a href="mailto:sferrazza.k@husky.neu.edu">sferrazza.k@husky.neu.edu</a>.</h2>
</div>
