<h1>Search for a partner</h1>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= bootstrap_form_tag(method: :get, url: search_results_path) do |f| %>
      <h2>Show students who are:</h2>

      <% defaults = 
        [
          :in_my_section, 
          :available,
        ] %>
      <% other_boxes =
        [
        ] %>

      <% for default in defaults %>
        <div class="form-group">
          <%= f.check_box default, checked: "checked", disabled: true %>
        </div>
      <% end %>
      <% for box in other_boxes %>
        <div class="form-group">
          <%= box %>
        </div>
      <% end %>
      <div class="form-group" align="center">
        <%= f.submit "Search", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
