<h1>Search results</h1>
<h2><%= link_to "Go back", search_path %></h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Result</th>
      <th scope="col">Lab Section</th>
      <th scope="col">Availability Match</th>
    </tr>
  </thead>
  <% i = 0 %>
  <% @users.each do |user| %>
    <% i += 1 %>
    <tr>
      <td class="user-td"><%= i %>
      <td class="user-td"><%= user.section.link_or_unspec %></td>
      <td class="user.td"><%= user.availability_match(current_user) %></td>
    </tr>
  <% end %>
</table>
