<h1>Edit profile</h1>
<h2><%= @user.full_name %></h2>
<div class="row">
  <div class="col-sm-8 offset-sm-2" align="center">
    <% if @user.picture_set? %>
      <%= @user.profile_photo 150 %>
    <% else %>
      <p>Please consider <%= link_to "setting a profile picture", "https://myaccount.google.com/" %>, so that those you match with will be able to identify you.</p>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= bootstrap_form_for(@user) do |f| %>
      <%= f.collection_select :course_id, Course.all, :id, :name %>
      <%= f.collection_select :section_id, @user.course.sections, :id, :desc %>
      <div class="form-group">
        <%= f.check_box :searching %>
      </div>
      <%= link_to "Edit availability", timeslots_path %>
      <div class="row" style="padding-top: 20px;">
        <div class="col-md-12" align="center">
          <%= f.submit "Save changes", class: "btn btn-success" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
