<h1>All Users (admin)</h1>
<h2><%= pluralize User.all.length, "user" %> total.</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Picture</th>
      <th scope="col">User</th>
      <th scope="col">Course</th>
      <th scope="col">Lab Section</th>
    </tr>
  </thead>
  <% @users.each do |user| %>
    <tr>
      <td class="user-td"><%= user.profile_photo(60) %></td>
      <td class="user-td"><%= link_to user.full_name, user %></td>
      <td class="user-td"><%= user.course.link_or_unspec %></td>
      <td class="user-td"><%= user.section.link_or_unspec %></td>
    </tr>
  <% end %>
</table>
