<h1><%= @user.full_name %></h1>
<div class="row">
  <div class="col-md-2 offset-md-1" align="center">
    <%= @user.profile_photo 150 %>
    <br><br>
  </div>
  <div class="col-md-6 offset-md-1">
    <table class="table">
      <tr>
        <td><strong>Course</strong></td>
        <td><%= @user.course.link_or_unspec %></td>
      </tr>
      <tr>
        <td><strong>Lab Section</strong></td>
        <td><%= @user.section.link_or_unspec %></td>
      </tr>
      <tr>
        <td><strong>Searching</strong></td>
        <td><%= @user.searching ? "Yes" : "No" %></td>
      </tr>
      <tr>
        <td><strong>Availability</strong></td>
        <td>
          <% if @user.timeslots.empty? %>
            None
          <% else %>
            <ul>
              <% @user.timeslots.each do |timeslot| %>
                <li><%= timeslot.desc %></li>
              <% end %>
            </ul>
          <% end %>
        </td>
    </table>
  </div>
</div>
<% if @user.id == current_user.id or current_user.admin? %>
  <div class="row" style="padding-top: 20px;">
    <div class="col-md-12" align="center">
      <%= button_to "Edit profile", edit_user_path(@user), method: :get, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
