<h1>All Sections (admin)</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">CRN</th>
      <th scope="col">Course</th>
      <th scope="col">Description</th>
      <th scope="col"># of users</th>
    </tr>
  </thead>
  <% @sections.each do |section| %>
    <tr>
      <td class="user-td"><%= section.crn %></td>
      <td class="user-td"><%= section.course.link_or_unspec %></td>
      <td class="user-td"><%= section.link_or_unspec %></td>
      <td class="user-td"><%= section.users.length %></td>
    </tr>
  <% end %>
</table>
