<h1>All Courses (admin)</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Sections</th>
      <th scope="col"># of users</th>
    </tr>
  </thead>
  <% @courses.each do |course| %>
    <tr>
      <td class="user-td"><%= course.link_or_unspec %></td>
      <td class="user-td">
        <ul>
          <% course.sections.each do |section| %>
            <li><%= section.link_or_unspec %></li>
          <% end %>
        </ul>
      </td>
      <td class="user-td"><%= course.users.length %></td>
    </tr>
  <% end %>
</table>
