<link rel="apple-touch-icon" sizes="180x180" href="/Dfv87ZbNh2/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/Dfv87ZbNh2/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/Dfv87ZbNh2/favicon-16x16.png">
<link rel="manifest" href="/Dfv87ZbNh2/site.webmanifest">
<link rel="mask-icon" href="/Dfv87ZbNh2/safari-pinned-tab.svg" color="#ffffff">
<link rel="shortcut icon" href="/Dfv87ZbNh2/favicon.ico">
<meta name="apple-mobile-web-app-title" content="Orca">
<meta name="application-name" content="Orca">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="/Dfv87ZbNh2/browserconfig.xml">
<meta name="theme-color" content="#ffffff">