// @import "bootswatch/cosmo/variables";
@import "bootstrap";
// @import "bootswatch/cosmo/bootswatch";

/* universal */

nav {
  margin-bottom: 20px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

/* text */

h1, h1, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo img {
  float: left;
  height: 40px;
  margin-left: 10px;
}

/* users */

.user-td {
  vertical-align: middle !important;
}
