// Place all the styles related to the Timeslots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.time-colon {
  font-size: 22pt;
  padding-top: 10px;
}

.time-table {
  margin-top: 20px;
  margin-bottom: 20px;
}

.cancel-button {
  margin-top: 20px;
}
