<h1>Timeslots</h1>
<h2><%= link_to "Go back", edit_user_path(current_user) %></h2>
<div align="center" style="margin:10px">
  <%= button_to "New", new_timeslot_path, method: :get, class: "btn btn-success" %>
</div>
<% if @timeslots.empty? %>
  <h2>No timeslots yet.</h2>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th>User name</th>
        <th>Times</th>
        <th></th>
      </tr>
    </thead>
    <% @timeslots.each do |timeslot| %>
      <tr>
        <td class="user-td"><%= timeslot.user.full_name %></td>
        <td class="user-td"><%= timeslot.desc %></td>
        <td class="user-td"><%= button_to "Delete", timeslot_path(timeslot), method: :delete, class: "btn btn-danger" %>
    </tr>
  <% end %>
  </table>
<% end %>
