<h1>New Timeslot</h1>
<h2><%= current_user.full_name %></h2>
<div class="row">
  <div class="col-sm-4 offset-sm-4">
    <% @n=0 %>
    <%= bootstrap_form_for(:timeslot, url: "/timeslots") do |f| %>
      <%= f.collection_select :day, Date::DAYNAMES, Proc.new {@n+=1}, :to_s %>
      <table align="center" class="time-table">
        <tr><td>Start time</td></tr>
        <tr>
          <td><%= f.select :start_hour, Timeslot.display_hours, label: "&nbsp;".html_safe %></td>
          <td class="time-colon"><strong>:</strong></td>
          <td><%= f.select :start_minute, Timeslot.display_minutes, label: "&nbsp;".html_safe %></td>
        </tr>
      </table>
      <table align="center" class="time-table">
        <tr><td>End time</td></tr>
        <tr>
          <td><%= f.select :end_hour, Timeslot.display_hours, label: "&nbsp;".html_safe %></td>
          <td class="time-colon"><strong>:</strong></td>
          <td><%= f.select :end_minute, Timeslot.display_minutes, label: "&nbsp;".html_safe %></td>
        </tr>
      </table>
      <div class="center">
        <%= f.submit "Create timeslot", class: "btn btn-success" %>
      </div>
    <% end %>
    <div class="cancel-button center">
      <%= button_to "Cancel", timeslots_path, method: :get, class: "btn btn-warning" %>
    </div>
  </div>
</div>
