<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <%= link_to image_tag("orca.svg", alt: "Orca"), root_path, id: "logo", class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <% if !user_signed_in? %>
        <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link" %></li>
      <% else %>
        <li class="nav-item"><%= link_to "Search for a partner", search_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "My profile", me_path, class: "nav-link" %></li>
      <% end %>
      <% if user_signed_in? and current_user.admin? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
            Admin
          </a>
          <div class="dropdown-menu">
            <%= link_to "All users", users_path, class: "dropdown-item" %>
            <%= link_to "All courses", courses_path, class: "dropdown-item" %>
            <%= link_to "All sections", sections_path, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item"><%= link_to "Help", help_path, class: "nav-link" %></li>
      <% end %>
    </ul>
    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <li class="nav-item"><%= link_to "Log out", logout_path, class: "nav-link" %></li>
      <% else %>
        <li class="nav-item"><%= link_to "Log in", login_path, class: "nav-link" %></li>
      <% end %>
    </ul>
  </div>
</nav>
